<form>

    <input name="subject" placeholder="search" [(ngModel)]="subject">

    <button  (click)="showRecords()"> Show Records </button>

</form>

<br><br><br>

<table>
    <tr>
    
        <th>name</th>
        
        <th>subject</th>
        
        <th>score</th>
        
    </tr>
    
    <tr *ngFor="let result of results">
    
        <td>{{result.username}}</td>
    
        <td>{{result.subject}}</td>
    
        <td>{{result.score}}</td>
    
    </tr>
    
    </table>

    <br><br>
<!--  pages[1,2,3,4] -->
<div *ngIf="results.length === 0" style="text-align: center; color: red; margin-top: 20px; font-size: 40px;">
    No Records Found
</div>
    <input  type=button  *ngFor="let pageno of pages" [value]="pageno" (click)="getResults2(pageno)">
<!-- (1)(2)(3)(4) -->


